/*FOOTER*/
.footer {
  background-color: #294b76; /* Beige claro */
  color: #ffffff; 
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
}

/* Contenedor principal */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40 auto;
}

/* Logo */
.footer-logo img {
  width: 300px;
  margin-bottom: 10px;
}


/* Secciones del footer */
.footer-section {
  flex: 1 1 200px;
  margin: 10px 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #ffffff; /* Verde elegante */
  border-bottom: 1px solid #d3cbcb;
  padding-bottom: 6px;
}

/* Enlaces y redes */
.footer-links,
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 8px;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #031634; 
}

/* Contacto */
.footer-section p {
  margin: 6px 0;
  font-size: 15px;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}


/* Parte inferior */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 15px;
}
