/* BANNER PRINCIPAL - HERO */
.hero {
  background-color: white;
  padding: 3rem 0;
  text-align: center;
}

.hero h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #061f48; 
}

.hero p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  opacity: 0.9;
  color: black;
  max-width: 700px;
  margin: 1rem auto;
}
